numpy==1.24.4
fastapi
uvicorn
unidecode
openai
yt-dlp @ https://github.com/yt-dlp/yt-dlp/archive/master.tar.gz
python-multipart
pydantic
sqlalchemy
psycopg2-binary
requests
bcrypt
torch==2.0.1+cpu 
--extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.15.2
Pillow
beautifulsoup4
